{% include "header.html"%}
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin">
        
        <label for="inputName" class="sr-only">Type</label>
        <select name='type'>
        <option value='cnblog'>cnblog</option>
        <option value='csdnblog'>csdnblog</option>
        </select><br><br>
        
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>   
            <br>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Add</button>
      </form>
      </div>

       <div class="row marketing">
        <div class="col-lg-6">
             <table border=1>
            {% for one in list %}
            <tr>
                <td>{{ one[0] }}</td>
                <td>{{ one[1] }}</td>
                <td>{{ one[2] }}</td>
                <td>{{ one[3] }}</td> 
                <td><a href='/crawler/{{ one[0] }}'> get </a></td>                           
                </tr>
            {% endfor %}
            </table>

        </div>         
      </div>

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

<script>
$(function(){
	$('#btnSignUp').click(function(){
		
		$.ajax({
			url: '/addBlog',
			data: $('form').serialize(),
			type: 'POST',
			success: function(response){
                var json_parsed = $.parseJSON(response);
				console.log(json_parsed.error);
                if(json_parsed.error == 0){
                    window.location='/showAddBlog';
                }
                
			},
			error: function(error){
				console.log(error);
			}
		});
	});
});

</script>