{% include "header.html"%}

        <h3 class="text-muted">Blog List</h3>
      </div>
      
<div  style="width:100%;padding:0;margin:0;box-sizing:border-box;align:right;clear:both;"> 
 <form action='/blogSearch' method=get>
         <input type="text" name="key" id="search" placeholder="Search" value="{{_key}}" class="placeholder">
        <button type="submit" class="btn btn-primary">Search</button>
         </form>
</div> 

      <div class="jumbotron">
        <h1>Blog List</h1>
        <p class="lead">{{numblog}}</p>        
      </div>
     
    <div style="width:95%;margin:10px;">
         <div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;align:left;">
        <a href="/blogHome?from={{_from-20}}">上一页</a>
         </div>
        <div style="width:50%;padding:0;margin:0;float:right;box-sizing:border-box;align:right;"><div style='float:right;'>
        <a href="/blogHome?from={{_from+20}}">下一页</a>
        </div>
     </div>
     <hr>
   

      <div class="row marketing">
        <div class="col-lg-6">
              
            {% for one in list %}
                <h3><a target=_blank href="/blogDetail?id={{ one[0] }}"><font color=green>{{ one[0] }}. {{ one[3] }} - {{ one[2] }}</font></a></h3>
                {% if not is_search %}<p>{{ one[4]|safe }} -- </p>{% endif%}<a href='{{ one[1] }}' target=_blank>{{ one[1] }}</a>
            {% endfor %}
       

           
        </div>         
      </div>

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

