{% extends "layout.html" %}
{% set active = 'rss' -%}
{% block title %}todo 列表{% endblock %}
{% block content %}
<style>
.highlight { background-color: yellow }
</style>
  <div class="page-header">
    <h1>RSS [<a href="{{ url_for('rss.sync')}}">sync(<span id=num>0</span>)</a>]</h1>
  </div>
  <form action="{{ url_for('rss.index')}}" method="post">
    <div class="input-group">
      <input id="todo-content" required class="form-control input-lg" type="text" name="key" placeholder="关键字" value='{{key}}'/>
      <span class="input-group-btn">
        <button class="btn btn-success btn-lg" type="button" onclick=submit()><span class="glyphicon glyphicon-chevron-right"></span></button>
      </span>
    </div>
  </form><br>
  
  
  <table id=table data-toggle="table" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
             
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for feed in feeds %}
        <tr>
             
            <td style='word-wrap:break-word;width:400px'>【{{ feed.get('id') }}】<a href='{{ feed.get('link') }}' target=_blank>{{ feed.get('title') }}</a><br>
            {{ feed.get('body') }} -- {{ feed.get('dt') }}</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>
 
<script>


function test(){
    $.ajax({
        url: '{{ url_for('rss.donerss')}}',
        data: $('form').serialize(),
        type: 'GET',
        success: function(response){
            var json_parsed = $.parseJSON(response);            
            console.log(json_parsed.num);
            console.log(json_parsed.done);
            $('#num').html(json_parsed.num) 
            if(json_parsed.num == json_parsed.done){
                clearInterval(ttt);        
            }
        },
        error: function(error){
            console.log(error);
        }
    });
}
ttt = setInterval(test,1000);
    
//setTimeout(test(),1000);


</script>

{% endblock %}


